@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Аптека</title>
</head>
<body>
    <div>
        <h3>Распродажа препартов</h3>
        <table>
            <tr>
                <td><p>Город</p></td>
                <td></td>
            </tr>
            @foreach (var b in ViewBag.Citys)
            {
                <tr>
                    <td><a href="/Home/Pick/@b.Id"><p>@b.City1</p></a></td>
                </tr>
            }
        </table>
    </div>
</body>
</html>