@model  List<Pharmacy.Models.Pharmacy>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>АПТЕКИ</title>
</head>
<body>
    <div>
        <h3>Аптеки: </h3>
        <table>
            <tr>
                <td><p>Название </p></td>
                <td><p>Адрес </p></td>
                <td></td>
            </tr>
            @foreach (var b in Model)
            {
                <tr>
                    <td><a href="/Home/Medication/@b.Id"><p>@b.Name</p></a></td>
                    <td><p>@b.Adress</p></td>
                    <td><p>@Html.ActionLink("Добавить новые препараты", "Create", new { id = @b.Id })</p> </td>
                </tr>
                
            }
        </table>
       
    </div>
</body>
</html>
